@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito;
  background-color: #ebf8ff;
  color: #333333;
  overflow-x: hidden;
}
html {
  margin: auto;
}

@layer base {
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
