@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 20%;
  --border: 0 0% 80%;
  --ring: 217 91% 60%;
}

body {
  @apply font-nunito;
  background-color: #ebf8ff;
  color: #333333;
  overflow-x: hidden;
}
html {
  margin: auto;
}

@layer base {
  body {
    @apply bg-background;
  }
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
